venv/
__pycache__/
*.lock
logs/
datas/

.env
.env.production
.env.staging

node_modules/
/assets/

/qualifirst_db.json
/db.sqlite3
z_test/

fixtures/
/test/

*.sql
media/

uploads/
frontend/node_modules/